---
import { Image } from "astro:assets";
import { getCollection } from "astro:content";
import BaseLayout from "../layouts/BaseLayout.astro";
import MainLayout from "../layouts/MainLayout.astro";
import formatRelativeTime from "../lib/utils/formatRelativeTime";

const blogs = await getCollection("blogs");
const sortedBlogs = blogs.sort(
  (a, b) => new Date(b.data.date).getTime() - new Date(a.data.date).getTime(),
);
---

<BaseLayout title="Blogs | Leonard Tarigan">
  <MainLayout name="BLOG" pronounciation="ブログ">
    <p slot="box" class="p-3">Est. 2025</p>
    <section slot="content" class="w-full max-w-screen-sm px-3">
      <div class="flex flex-col gap-3">
        {
          sortedBlogs.map(({ data, slug, body }) => (
            <a
              href={`/blogs/${slug}`}
              class="flex flex-col-reverse items-center gap-3 border border-neutral-800 p-3 transition-colors duration-300 hover:bg-neutral-200 sm:h-36 sm:flex-row"
            >
              <div class="flex !h-full grow basis-[70%] flex-col justify-between text-base">
                <div>
                  <h3 class="line-clamp-1 text-lg font-semibold leading-tight">
                    {data.title}
                  </h3>
                  <p class="mt-1 line-clamp-2 leading-tight">{body}</p>
                </div>
                <p class="pt-3 font-normal text-neutral-400">
                  {formatRelativeTime(data.date)}
                </p>
              </div>
              <Image
                src={data.image}
                alt={"Thumb"}
                inferSize
                class={
                  "aspect-[4/3] w-full shrink-0 basis-[30%] bg-neutral-200 object-cover sm:aspect-auto sm:h-full"
                }
              />
            </a>
          ))
        }
      </div>
    </section>
  </MainLayout>
</BaseLayout>
